body {
    text-align: center;
    margin: 50px;
    background-color: black;
color: white;
background-image: url(imagenes/giphy.gif);
}

#flsmdfr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    max-width: 300px;
   
    margin: 0 auto;
   border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   background-color: red;
}

#resultado {
    grid-column: span 4;
    padding: 10px;
    font-size: 3em;
    text-align: right;
}
